.wp-admin {
    .tabcontent {
        display: none !important;

        &:first-of-type {
            display: block !important;
        }
    }
}


.wp-admin {
    .map-fact p {
        display: none !important;

        &:first-of-type {
            display: block !important;
        }
    }
}

.wp-admin {
    .swipernews {
        .swiper-wrapper {
            display: flex;
            justify-content: space-between;
            width: 100%;
            max-width: 1264px;
        }


        a {
            max-width: 360px;

        }
    }
}