.swiper-free-mode>.swiper-wrapper {
    transition-timing-function: linear !important;
    margin: 0 auto;
}

.swiper-pagination-bullet {
    width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 8px));
    height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 8px));
    display: inline-block;
    border-radius: 50%;
    background: var(--swiper-pagination-bullet-inactive-color, #E0DFDF) !important;
    opacity: var(--swiper-pagination-bullet-inactive-opacity, 1) !important;
}

.swiper-pagination-bullet-active {
    opacity: var(--swiper-pagination-bullet-opacity, 1);
    background: #2A3041 !important;
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: 25px !important;
    z-index: 1 !important;
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
    opacity: 1 !important;
    cursor: auto;
    pointer-events: none;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    content: "" !important;
}

.swiperquote {
    .swiper-button-next {
        top: unset !important;
        bottom: 20px !important;
        right: 80px !important;
        left: unset !important;
        z-index: 2 !important;
        width: unset !important;
    }

    .swiper-button-prev {
        top: unset !important;
        bottom: 20px !important;
        right: 135px !important;
        left: unset !important;
        z-index: 2 !important;
        width: unset !important;
    }
}

.swiperquote-2 {
    .swiper-button-next {
        top: 50% !important;
        bottom: 20px !important;
        right: 0px !important;
        left: unset !important;
        z-index: 2 !important;
        width: unset !important;
    }

    .swiper-button-prev {
        top: 50% !important;
        bottom: 20px !important;
        right: unset !important;
        left: 0px !important;
        z-index: 2 !important;
        width: unset !important;
    }

    .swiper-horizontal>.swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
        bottom: 25px !important;
        z-index: 1 !important;
        width: 100% !important;

        // MD
        @media (min-width: 768px) {
            width: 100% !important;
        }

        // LG
        @media (min-width: 1200px) {
            width: calc(50% + 20px) !important;
        }

        // XL
        @media (min-width: 1352px) {
            width: calc(50% + 20px) !important;
        }
    }
}

.swiperteam {
    .swiper-button-next {
        top: unset !important;
        bottom: 0px !important;
        right: calc(50vw - 175px) !important;
        left: unset !important;
        z-index: 2 !important;
        width: unset !important;

        // MD
        @media (min-width: 768px) {
            right: calc(50vw - 344px) !important;
        }

        // LG
        @media (min-width: 1200px) {
            right: calc(50vw - 564.5px) !important;
        }

        // XL
        @media (min-width: 1352px) {
            right: calc(50vw - 636px) !important;
        }
    }

    .swiper-button-prev {
        top: unset !important;
        bottom: 0px !important;
        right: calc(50vw - 120px) !important;
        left: unset !important;
        z-index: 2 !important;
        width: unset !important;

        // MD
        @media (min-width: 768px) {
            right: calc(50vw - 289px) !important;
        }

        // LG
        @media (min-width: 1200px) {
            right: calc(50vw - 509.5px) !important;
        }

        // XL
        @media (min-width: 1352px) {
            right: calc(50vw - 581px) !important;
        }
    }
}

.swiperevents {
    .swiper-button-prev {
        top: unset !important;
        bottom: 0px !important;
        left: calc(50vw - 51px) !important;
        right: unset !important;
        z-index: 2 !important;
        width: unset !important;

        // MD
        @media (min-width: 768px) {
            left: calc(50vw - 344px) !important;
        }

        // LG
        @media (min-width: 1200px) {
            left: calc(50vw - 564.5px) !important;
        }

        // XL
        @media (min-width: 1352px) {
            left: calc(50vw - 636px) !important;
        }
    }

    .swiper-button-next {
        top: unset !important;
        bottom: 0px !important;
        left: calc(50vw + 6px) !important;
        right: unset !important;
        z-index: 2 !important;
        width: unset !important;

        // MD
        @media (min-width: 768px) {
            left: calc(50vw - 289px) !important;
        }

        // LG
        @media (min-width: 1200px) {
            left: calc(50vw - 509.5px) !important;
        }

        // XL
        @media (min-width: 1352px) {
            left: calc(50vw - 581px) !important;
        }
    }
}